body {
    background-color: rgb(204, 204, 204);
  }
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  ul {
    list-style-type: none;
    text-align: center;
  }
  li {
    margin: 10px;
  }
  a {
    text-decoration-line: none;
  }
  .player_one, .player_two {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
  }
video{
	width:100%;
	margin-inline:auto;
}
audio{
	width:100%;
	margin-inline:auto;
}